# Laravel
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Node
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# IDEs and editors
/.fleet
/.idea
/.vscode
/.zed
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker
/docker/mysql/data